body {
   
 background-image: url("habilidades.jpg");
    
    background-color: rgb(241, 231, 207);

 }
 h1 {
    color: rgb(99, 151, 138);
    text-align: center;
    font-family: 'Playfair Display', serif;
   }

   img{
      display: block;
      margin: 0px auto;
     }
     h3 {  
      color: rgb(138, 94, 132);
      text-align: center;
    
      font-family:  Helvetica
   }
   h2 {
      border: 10px dashed rgb(245, 169, 241);
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
      background-color: rgb(255, 205, 255);
      padding: 150px;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 30px;
      color: rgb(240, 73, 170);
      
     }
     h4 { order: 10px dashed rgb(128, 168, 133);
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 50px;
      margin-left: 50px;
      background-color: rgb(243, 207, 201);
      padding: 15px;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
      color: rgb(100, 138, 120);
        
     }